.Element {
   padding-top: 0.5%;
   padding-left: 5%;
   padding-right: 5%;
}

.bar{
  padding-left: 1%;
}

.name{
   width: 40%;
}

.Index p{
   padding-top: 0.5%;
   padding-left: 5%;
   padding-right: 5%;
   font-size: 25px;
}

.logo{
   width: 550px;
}

.Sub-text{
   padding-left: 3%;
}