.Element {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
 }


 .Element-p{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
 }

.aling {
    width: 100px;
    float: right;
}
 .pos{
    right: 5px;
} 

.Name {
    padding-top: 2%;
    padding-left: 5%;
    left: 2%;
}

